<div class="card mt-3" >
    <div class="card-body">
        <div class="alert alert-info w-75 d-inline-block"><b>{{index+1}}. {{task.assignment}}</b></div>
        <div class=" d-inline" >
            <div *ngIf="task.priority == 'Routine'" class="alert alert-success w-25 d-inline-block text-center">
                <strong>{{ task.priority }}</strong>
            </div>
            <div *ngIf="task.priority == 'Not important'" class="alert alert-primary w-25 d-inline-block text-center" >
                <strong>{{ task.priority }}</strong>
            </div>
            <div *ngIf="task.priority == 'Important'" class="alert alert-warning w-25 d-inline-block text-center" >
                <strong>{{ task.priority }}</strong>
            </div>
            <div *ngIf="task.priority == 'High Priority'" class="alert alert-danger w-25 d-inline-block text-center" >
                <strong>{{ task.priority }}</strong>
            </div>
        <hr>
        <button class="btn btn-danger float-end" (click)="deleteTask()">Task Complete!</button>
    </div>
</div>
