<div class="row">
    <div class="col mt-8">
        <div class="card">
            <div class="card-header">ToDo list</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let task of tasks; let i = index">
                        <div class="alert alert-secondary w-75 d-inline-block">{{i+1}}. TASK: <b>{{ task.assignment }}</b></div>
                        <div class="d-inline" >
                            <div *ngIf="task.priority == 'Rutina'" class="alert alert-success w-25 d-inline-block">
                                <strong>{{ task.priority }}</strong>
                            </div>
                            <div *ngIf="task.priority == 'Skubu'" class="alert alert-warning w-25 d-inline-block" >
                                <strong>{{ task.priority }}</strong>
                            </div>
                            <div *ngIf="task.priority == 'Neskubu'" class="alert alert-primary w-25 d-inline-block" >
                                <strong>{{ task.priority }}</strong>
                            </div>
                            <div *ngIf="task.priority == 'Labai Skubu'" class="alert alert-danger w-25 d-inline-block" >
                                <strong>{{ task.priority }}</strong>
                            </div>
                        </div>
                    
                        <button class="btn btn-dark btn-sm w-25 float-end" 
                        (click)="deleteTask(i)">Done!</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add new task</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Task:</label>
                    <input type="text" class="form-control" #newTask>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Priority:</label>
                    <select class="form-control" #newPriority>
                        <option value="blank" disabled selected>---Select---</option>
                        <option value="Rutina">Rutina</option>
                        <option value="Skubu">Skubu</option>
                        <option value="Neskubu">Nekubu</option>
                        <option value="Labai Skubu">Labai skubus</option>
                    </select>
                </div>
                <button class="btn btn-success" (click)="addNewTask(newTask, newPriority)">Add</button>
            </div>
        </div>
    </div>
</div>

