<div class="row">
    <div class="col mt-8">
        <div class="card">
            <div class="card-header">ToDo list</div>
            <div class="card-body">
                        <app-task-item *ngFor="let task of tasks; let i=index"  class="col-md-4 w-100" [task]="task" [index] ="i"> </app-task-item>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add new task</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Task:</label>
                    <input type="text" class="form-control" #newTask>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Priority:</label>
                    <select class="form-control" #newPriority>
                        <option value="blank" disabled selected>---Select---</option>
                        <option value="Routine">Routine</option>
                        <option value="Not important">Not important</option>
                        <option value="Important">Important</option>
                        <option value="High Priority">High Priority</option>
                    </select>
                </div>
                <button class="btn btn-success" (click)="addNewTask(newTask, newPriority)">Add</button>
            </div>
        </div>
    </div>
</div>

